html, body {
    position: relative;
    margin: 15px;
    width: auto;
}

.bluredThis {
    filter: blur(10px);
    transition: 1s;
}

#menuContainer {
    position: relative;
    width: auto;
    height: 100px;
    padding-left: 13%;
    display: flex;
    justify-content: left;
    background-color: #f1f1f1;
    border-bottom: solid 15px;
}

#logoImage {
    width: auto;
    height: 50px;
    margin-top: 20px;
}

#myMenu {
    margin: 20px 5% 20px 5%;
    padding-top: 10px;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: left;
}

.menuTitle {
    margin-right: 20px;
    padding: 0px;
    font-size: 25px;
}

#slideShowSection {
    background-color: #f1f1f1;
    padding: 35px 5% 20px 5%;
}

/* slideshow start */
#slide1{
    border-radius: 25px;
}
#slide2 {
    border-radius: 25px;
}
#slide3 {
    border-radius: 25px;
}

* {
    box-sizing: border-box
}

/* Slideshow container */
.slideshow-container {
    max-width: 1800px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
        background-color: rgba(0,0,0,0.8);
    }

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

    .active, .dot:hover {
        background-color: #717171;
    }

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* slideshow end */


#clickInstructionContainer {
    display: flex;
    justify-content: center;
}

#clickInstruction {
    text-align: center;
    padding: 1%;
    width: 20%;
    border-radius: 15px;
    box-shadow: 10px 10px 10px lightblue;
}

.globalText {
    color: pink;
    font-size: 32px;
}

#allDivParent {
    color: pink;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px lightblue;
    border-color: lightgray;
    width: 600px;
    border-radius: 20px;
}
#footerLinks {
    display: flex;
    justify-content: center;
}
#midLinksContainer {
    display: flex;
    justify-content: center;
}
.midLinks {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    font-family: helvetica light, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    width: 600px;
}

.midLinks a {
    color: pink;
    margin: 0px 15px 0px 15px;
}

.category {
    margin: 0px 10px 0px 10px;
}

.active {
    color: lightblue;
}
#artsDivParent {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}
.latestArts {
    height: auto;
    width: 240px;
    margin: 25px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px lightblue;
}




/* stories section*/

#closeStories {
    display: none;
    position: fixed;
    padding: 3px 3px 5px 7px;
    top: 20px;
    left: 12%;
    height: 30px;
    width: 30px;
    background-color: red;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    font-size: 24px;
    color: white;
}

#stories {
    display: none;
    height: 95%;
    width: 75%;
    background-color: black;
    border-radius: 30px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 25px;
    left: 12.5%;
    overflow: auto;
    box-shadow: 0px 0px 30px 5px pink;
}

.storyH1 {
    margin-left: 50px;
    color: pink;
}

#stories p {
    margin: 15px 10px 15px 5%;
    width: 90%;
    color: darkgray;
}

#stories img {
    width: 100%;
    height: auto;
}


/* showCase images pop up */
#imagePopUp1 {
    display: none;
    height: 800px;
    width: 100%;
}
#imagePopUp2 {
    display: none;
    height: 800px;
    width: 100%;
}
#imagePopUp3 {
    display: none;
    height: 800px;
    width: 100%;
}

/* story collections */

#story1 {
    display: none;
    height: 800px;
    width: 100%;
}

#story2 {
    display: none;
    height: 800px;
    width: 100%;
}

#story3 {
    display: none;
    height: 800px;
    width: 100%;
}

#story4 {
    display: none;
    height: 800px;
    width: 100%;
}
#story5 {
    display: none;
    height: 800px;
    width: 100%;
}
#story6 {
    display: none;
    height: 800px;
    width: 100%;
}
#story7 {
    display: none;
    height: 800px;
    width: 100%;
}
#story8 {
    display: none;
    height: 800px;
    width: 100%;
}
#story9 {
    display: none;
    height: 800px;
    width: 100%;
}
#story10 {
    display: none;
    height: 800px;
    width: 100%;
}
#story11 {
    display: none;
    height: 800px;
    width: 100%;
}
#story12 {
    display: none;
    height: 800px;
    width: 100%;
}



/* footer section */

#footerInfo {
    padding: 15px;
    margin-bottom: 15px;
    width: auto;
    height: 25%;
    display: flex;
    justify-content: center;
}

.footerDivs {
    padding: 15px;
    margin: 15px;
    width: 550px;
    height: auto;
}

/* about section */
#aboutSection {
    padding: 0px;
    margin-bottom: 15px;
    margin-top: 25px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
#aboutSection img {
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}
#aboutShowCase {
    display: none;
}
#aboutShowCase2 {
    display: none;
}
#aboutShowCase2portrait {
    display: none;
}

#footerLinks {
    color: pink;
    background-color: white;
    padding-bottom: 15px;
}


/* mobile version*/
/* On smaller screens, decrease text size */
@media only screen and (max-width: 700px) {
    html, body {
        position: relative;
        margin: 0px;
        padding: 0px;
        width: auto;
    }
    #menuContainer {
        position: relative;
        width: auto;
        height: 75px;
        margin: 15px 15px 3px 15px;
        padding-left: 13%;
        display: flex;
        justify-content: left;
        background-color: antiquewhite;
        border-bottom: solid 15px;
        border-radius: 25px 25px 0px 0px;
    }

    #logoImage {
        width: auto;
        height: 30px;
        margin-right: 15px;
        margin-top: 20px;
    }

    #myMenu {
        margin: 20px 5% 20px 5%;
        padding-top: 10px;
        width: auto;
        height: 25px;
        display: flex;
        justify-content: left;
    }
    .menuTitle {
        margin-right: 20px;
        padding: 0px;
        font-size: 16px;
    }

    .text {
        font-size: 11px
    }

    #artsDivParent {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }

    .latestArts {
        height: auto;
        width: 120px;
        margin: 5px;
        border-radius: 25px;
        box-shadow: 10px 10px 10px lightblue;
    }

    #stories {
        display: none;
        height: 95%;
        width: 95%;
        background-color: white;
        border-radius: 30px;
        position: fixed;
        margin-left: auto;
        margin-right: auto;
        top: 25px;
        left: 3%;
        overflow: auto;
        box-shadow: 0px 0px 30px 5px pink;
    }
    /* the x button top left position*/
    #closeStories {
        display: none;
        position: fixed;
        padding: 3px 3px 5px 7px;
        top: 20px;
        left: 3%;
        height: 30px;
        width: 30px;
        background-color: red;
        border-radius: 20px;
        box-shadow: 5px 5px 5px black;
        font-size: 24px;
        color: white;
    }
    /* footer section mobile*/
    #footerInfo {
        padding: 15px;
        margin-bottom: 15px;
        width: auto;
        height: 25%;
        display: block;
    }

    .footerDivs {
        padding: 15px;
        margin: 15px;
        width: auto;
        height: auto;
        text-align: justify;
        text-justify: inter-word;
    }

}
